@charset "UTF-8";

@media screen and (min-width: 769px){
	#container {
		width:100%;
		position: relative;
	}
	.pc-header {
		width: 100%;
		height: 50px;
		background-color: #0F4375;
		box-shadow: 0 0 2px #666,0 0 8px #222;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 101;
	}

	.pc-main-wrap {
		margin: 0 auto;
		position: relative;
	}

	.pc-left-nav {
		width: 240px;
		padding: 10px;
		box-sizing: border-box;
		background-color: #fff;
		box-shadow: 0 0 2px #f5f5f5;
		position: absolute;
		top: 50px;
		left: 0;
	}

	.pc-left-nav-inner {
		padding: 10px 0;
	}

	.pc-left-nav-inner li {
		padding: 15px 0;
		border-bottom: 1px solid #9e9e9e;
	}

	.nav-item {
		color: #0F4375;
		font-weight: bold;
		display: block;
	}

	.nav-item:hover {
		opacity: 0.8;
	}

	.pc-ad {
		width: 220px;
		height: 220px;
		background-color: #9f9f9f;
	}

	.pc-main-content {
		width: 100%;
		padding: 50px 0 0 240px;
		margin: 20px 0 0 20px;
		background-color: #dcdcdc;
		box-sizing: border-box;
	}

	.pc-box-contentBox {
		height: 190px;
		width: 190px;
		margin: 0 10px 10px 0;
		background:#000;
		position: relative;
	}

	.pc-box-contentBox .mask {
		width: 190px;
		height: 190px;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		opacity: 0.5;
		background-color: #000;
		transition: all 0.3s ease-in-out;
	}

	.pc-box-contentBox .mask:hover {
		opacity: 0.23;
	}

	.content-thum {
		width: 190px;
		height: 190px;
		overflow: hidden;
		text-align: center;
	 }

	.content-thum img {
		height: 190px;
		width: auto;
	}

	/*見出しの最初の位置*/
	.content-ttl {
		color: #fff;
		font-size: 16px;
		padding-left: 10px;
		font-weight: bold;
	    transform: translateY(90px);
		transition-duration: 1s;
		transition-timing-function: ease-in;
	}
	/*マウスオーバーしたら見出しが表示される位置*/
	.pc-box-contentBox:hover .content-ttl {
		transition: all 0.2s ease-in-out;
		transform: translateY(10px);
	}
	/*テキストの最初の位置*/
	.pc-box-contentBox .content-explan {
		color: #fff;
		font-size: 12px;
		word-wrap: break-word;
		padding: 0 10px;
	    transform: translateY(100px);
		transition-duration: 1s;
		transition-timing-function: ease-in;
	}
	/*マウスオーバーしたらテキストが表示される位置*/
	.pc-box-contentBox:hover .content-explan {
	    transition-delay: 0.1s;
	    transition: all 0.2s linear;
		transform: translateY(130px);
	}

}
